* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

*::selection {
  color: #fff;
  background-color: #000;
}

.structure{
  width: 100%;
  height: 100vh;
}

#nav {
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part1 {
  height: 80px;
  overflow: hidden;
}

#nav-part2 #links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
}

#icons {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid grey;
}

#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}

#cursor {
  height: 180px;
  width: 180px;
  background-color: rgba(224, 139, 189, 0.814);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 20vh;
}

#page1 h1 {
  font-size: 15.8vw;
  text-transform: uppercase;
  font-family: 'futura';
  line-height: 14vw;
  letter-spacing: -8px;
  padding-bottom: 50px;
}

#video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: 'futura';
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

#page2 .elem .dets {
  height: 60px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: rgb(229, 156, 186);
}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  height: 54vh;
  width: 38vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img {
  height: 100%;
}

@media (max-width: 600px) {
  #nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    padding: 10px;
    display: none;
  }

  #nav-part1 {
    height: 67px;
    overflow: hidden;
  }

  #nav-part1 svg {
    display: block;
    height: 67px;
    width: 80px;
  }

  #nav #twogoodlogo {
    height: 40px;
    margin-left: -20px;
  }

  #icons {
    padding: 7px;
    border-radius: 50px;
    background-color: #F7F7F7;
    color: black;
  }

  #nav-part2 #icons i {
    font-size: 15px;
    margin: 0 20px;
    font-weight: 100;
  }

  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }

  #page1 h1 {
    font-size: 15.5vw;
    letter-spacing: -3px;
  }

  #video-container {
    height: 25vh;
    margin-top: 3vw;
  }

  #video-container #play {
    padding: 9.5vw 7.2vw;
    font-size: 4.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #page2 .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(229, 156, 186);
  }

  #page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .child {
    height: 54vh;
    width: 88vw;
    position: relative;
    padding: 15vw;
  }

  .child img {
    height: 100%;
  }
}




/* -------------------Footer---------------------- */


.darkfooter {
  color: #fff;
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.darkfooter p {
  margin: 50px;
  font-size: 1.2em;color: #ffffff;
}



.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'futura';
  font-weight: 600;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 1;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}